@import'./variable';

.button {
    margin: 18px;
    text-align: center;
    min-width: 170px;

    @media screen and (min-width: 768px) {
        margin: 0;

    }


    &:hover {
        cursor: pointer;

        a {
            &::before {
                width: 50px;
                right: -30px;
                background: linear-gradient(90deg, #ffffff 43%, #000000 40%);
            }

            &::after {
                transform: translateX(10px);
            }
        }
    }

    a {
        padding: 15px 28px;
        position: relative;
        background-color: $color-red;
        border-color: $color-red;
        text-decoration: none;
        color: $color-white;
        line-height: 2;
        letter-spacing: 2.2px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin: 10px 32px 10px 10px;

        @media screen and (min-width: 768px) {
            padding: 14px 34px;
            margin: 22px 32px 22px 22px;
        }

        &::before {
            background: linear-gradient(90deg, $color-white 50%, $color-black 50%);
            right: -20px;
            width: 40px;
            height: 2px;
            position: absolute;
            transition: 0.3s;
            content: "";
        }

        &::after {
            border: 4px solid transparent;
            border-left: 4px solid $color-black;
            right: -27px;
            content: "";
            position: absolute;
            transition: 0.3s;

        }
    }

}